<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Input Message</title>
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
            .message-container {
                text-align: center;
                font-size: 24px;
            }

            textarea {
            width: 500px;
            height: 300px;
            font-size: 20px;
            resize: none;
            overflow: auto;
            }
        </style>
</head>

<body>
    <div class="message-container">
        <h2>Input Message</h2>
        <form method="post" action="display/">
            {% csrf_token %}
            <p><textarea name="message" wrap="soft"></textarea></p>
            <input type="submit" value="Зберегти" />
            <input type="reset" value="Скинути" />
        </form>
    </div>
</body>
</html>